@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Background*/

:root {
    --gradient: linear-gradient(90deg, #4AB2C2, #470069, #F5F5F5);
  }
  
  body {
    font-family: basic-sans, sans-serif;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333;
    background: #ddd;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 25s infinite alternate;
  }
  
  @keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }


/*Navbar*/

.log-out{
    margin-left: 950px;
    background-color: #470069;
}

nav{
    font-family: 'Urbanist', sans-serif;
    color: white;
}

/* footer */
footer{
    height: 345px;
    text-align: center; 
    color: white; 
    background-color: #470069;
    background-size: cover;
}

.foot:hover {
    transform: scale(1.1);
}

.icon{
    margin-top: 15px;
    margin-bottom: 15px;
}
.icon:hover {
    transform: scale(0.9);
}
.my-4 {
    color: #F5F5F5;
}


/*Carousel*/
.carousel-caption.d-none.d-md-block{
    color: white;
    font-family: 'Urbanist', sans-serif;
}

.carousel-inner{
    height: 670px;
    color: white;
}

.image2{
    background-image: url(../assets/Home\ page\ image\ 3.png);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.image3{
    background-image: url(../assets/Home\ Page\ image\ 6.png);
    background-size: cover;
    height: 670px;
}

.image1{
    background-image: url(../assets/Bottom\ image\ 1.png);
    background-size: cover;
    height: 670px;
}

.par1 h1{
    margin: auto;
    font-weight: bold;
    font-family: 'Urbanist', sans-serif;
    margin-left: 140px; 
    padding-top: 150px;
    color: #4AB2C2;
}

.par2 h1{
    margin: auto;
    font-weight: bold;
    font-family: 'Urbanist', sans-serif;
    margin-left: 140px; 
    padding-top: 150px;
}

.par3 h3{
    margin: auto;
    font-weight: bold;
    font-family: 'Urbanist', sans-serif;
}

.par1 p{
    font-family: basic-sans, sans-serif;
    margin-left: 140px;
    margin-top: 10px;
    text-align: left;
    margin-right: 100px;
    color: white;
}

.par2 p{
    font-family: basic-sans, sans-serif;
    margin-left: 140px;
    margin-top: 10px;
    text-align: left;
    margin-right: 100px;
}

.par3 p{
    font-family: basic-sans, sans-serif;
}

.button-group{
    padding-left: 140px;
}

.carousel-indicators{
    margin-top: 20px;
}

.arrow{
    color: white;
}

/* Home Page Filter Block */
.col-12{
    background-color: #470069;
    height: 100px;
    margin-bottom: 40px;
}

.items{
    margin-left: 20%;
}

.btn-group.col-auto{
    width: 80%;
}

/* Filter blocks with images */
.col-box1{
    height: 230px;
    border-radius: 7px;
    background-image: url(/assets/Home\ Page\ Image\ 1.png);
    background-position: center;
    background-size: cover;
    margin-left: 30px;
}

.col-box2{
    height: 230px;
    border-radius: 7px;
    background-image: url(/assets/Home\ Page\ Image\ 2.png);
    background-position: center;
    background-size: cover;
}

.col-box3{
    height: 230px;
    border-radius: 7px;
    background-image: url(/assets/Home\ page\ image\ 3.png);
    background-position: center;
    background-size: cover;
    margin-right: 30px;
}



/*Text under boxes */
.col-box7{
    margin-top: 40px;
    margin-left: 30px;
    color: white;
}

/* Continue watching boxes */

.col-box8{
    height: 230px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 7px;
    background-image: url(/assets/Bottom\ image\ 1.png);
    background-position: center;
    background-size: cover;
    margin-left: 30px;
}

.col-box9{
    height: 230px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 7px;
    background-image: url(/assets/Bottom\ image\ 2.png);
    background-position: center;
    background-size: cover;
}

.col-box10{
    height: 230px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 7px;
    background-image: url(/assets/Bottom\ image\ 3.png);
    background-position: center;
    background-size: cover;
    margin-right: 30px;
}

/* Continue watching for Ngozi */

.line{
    width: auto;
    height: 10px;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.line2{
    width: auto;
    height: 10px;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.line3{
    width: auto;
    height: 10px;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.line-fill{
    width: 90px;
    height: 10px;
    background-color: #470069;
}

.line-fill2{
    width: 130px;
    height: 10px;
    background-color: #4AB2C2;
}

.line-fill3{
    width: 20px;
    height: 10px;
    background-color: #4AB2C2;
}

/*New ones Imported*/

h5{
    font-weight: bold;
}

body{
    margin: 0;
    background-color: #F5F5F5;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: #470069;
}

.search{
    background-color: transparent;
    border: 2px solid var(#F5F5F5);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: white;

}

.search:focus{
    outline: 0;
    background-color: #470069;
}

.search::placeholder{
    color: #7378c5;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 250px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #4AB2C2;
    position: relative;
    overflow: hidden;

}

.movie img{
    width: 100%;
    height: 260px;
}

.movie-info{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem 1rem;
    letter-spacing: 0.5px;
    height: 100px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: #470069;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #470069;
    padding: 1rem;
    color: #F5F5F5;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    font-size: small;
    font-weight: 100;
}

.movie:hover .overview{
    transform: translateY(0);
}


