/* NavBar */
.navbar{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}


/* Form */
/* Sign In Button */
.btn.btn-primary{
    background-color: #470069;
    margin-left: 230px;
    width: 150px;
    margin-top: 20px;
}

form{
    width: 600px;
    margin: auto;
}

/* Sign in/Sign Up */
.col-box1{
    margin-left: 560px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.col-box2{
    margin-left: 540px;
    margin-top: 50px;
}

/* Buttons */
.sign-up{
    
}