:root {
    --gradient: linear-gradient(90deg, #4AB2C2, #470069, #F5F5F5);
  }
  
  body {
    font-family: basic-sans, sans-serif;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333;
    background: #ddd;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 25s infinite alternate;
  }
  
  @keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }


/* NavBar */
.navbar{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}


/* Form */
/* Sign In Button */
.btn.btn-primary{
    background-color: #470069;
    margin-left: 230px;
    width: 150px;
    margin-top: 20px;
}

form{
    width: 600px;
    margin: auto;
}

/* Sign in/Sign Up */
.col-box1{
    margin-left: 560px;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: none;
    
}

.col-box2{
    margin-left: 540px;
    margin-top: 50px;
}

/* Buttons */
.sign-up{
    
}